html, body {
    background:  darkgray;
    color: black;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
 }

 
.ui-header{   
    margin: 0;
    clear: both;
    font-size: .8em;
    height: 100px;
    width: 100%;
    top: 0;
	background:  darkgray;
}

.ui-body {
    background: darkgray;   /*#474747*/
    /*min-height: 480px; 675 with bottom*/
	min-width: 1296px;
}

.ui-footer {
    border: darkgray solid 1px;
    font-size: .8em;
    height: auto;
    width: 100%;
    bottom:0;
		background:  darkgray;
}


.ui-cented-div {

    position:absolute;
    width: 770px;
	left: 50%;
     top: 50%;
	/*min-width: 1296px;  -270*/
    margin: -270px 0 0 -385px;
   // padding: 0;
    border: black solid 1px;
    height: auto;

}

.ui-top-div {
    position: relative;
    border: darkgray solid 1px;
    width: 100%;
    display: block;
    height: 600px;
}

.ui-bottom-div {
    position: relative;
     margin:5px;
    width: 95%;
    display: block;
    height: 70px;
	float:left;
}

.ui-right {
 display:inline-block;
   float: right;
   margin:5px;
}

.ui-left {
display:inline-block;
   float: left;
}

.centered {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.ui-big-button{
width: 90%;
height:25px;
margin:5px;
}

.ui-input {
margin: 0 5px 0 0; 
/* 0 right 0 left*/
width:  100%;
}

.ui-button {
width:75px;
height:25px;
margin: 5px;
}

.ui-select{
width: 75px;
margin: 5px;
}

.ui-label{
display: inline-block; 
margin: 0 5px ;
min-width: 30px !important;
}

.ui-input{
margin:5px;
width: 90%;
}


.ui-session-link{
color:black;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #A8EDFF;
}

a:hover {
    color: #A8EDFF;
}

a:active {
    color: #A8EDFF;
}

.ui-fieldset{
margin: 5px 0;
border: gray solid 1px;
color:black;
}

.ui-half-part{
width: 40%;
margin:7px;
display: inline-block;
}

.ui-main{
width:768px;
height: 537px;
border: gray solid 1px;
 margin: 0 auto 0;
 background:  lightgray;
}
 /*login*/
.ui-login-right{
height:100%;
width:205px;
margin:0 5px;
margin-left: 1px;
float:right;
}

.ui-login-bottom{
width: 500px;
height: 255px;
margin:60px auto;
border: gray solid 1px;
}



.ui-about {
margin: 15px;
margin-top:100px;
float: right;
}

.ui-usb-div{
margin-top:50px;
width: 250px;
height:135px;
border: transparent 1px solid;
color: black;
}

.ui-user{
}

.ui-developer{
}
 

 .ui-inner-header{
 width:100%;
 height:15px;
 color: white;
 background: linear-gradient(to right, #0A246A, #A4C8EF);
 }
 
 .ui-login-top{
 width:100%;
 height:140px;
 border-bottom:gray 1px solid;
 }
 

 
 .ui-oscilloscope{
display:visible;
width:725px;
height: 377px;
margin:0;
border:gray solid 1px;
background: black;
color:green;
}
 
 .ui-graphic-container{
 	box-sizing: border-box;
	width: 725px;
	height: 377px;
	margin: 10px 15px 0 20px;
	border: 1px solid #ddd;
	background: lightgray;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
 }
 
 .ui-moved-graphic-container{
  	box-sizing: border-box;
	width: 390px;
	height: 230px;
	padding: 0;
	border: 1px solid #ddd;
	background: lightgray;
 }
 
 .ui-moved-graphic{
 display:visible;
width:390px;
height: 230px;
border:gray solid 1px;
}
 
 /*Developer*/
.ui-settings-div{}

.ui-input-small{
margin: 2px 5px;
width: 80px;
}

.ui-input-micro{
margin: 4px;
width: 30px;
display:inline-block;
}

.ui-input-middle{
margin: 5px 20px 5px 5px;
width: 155px;
float: right;
}

.ui-settings-left{
width:540px;
height: 95%;
margin:  5px 0;
}

.ui-settings-right{
width:210px;
margin:5px;
}

.ui-file-progressbar{
width:98%;
height:25px;
}

/*Analyzer*/
.ui-graph {
border-bottom:darkgray 1px solid;
width:100%;
height:50%;
}

.ui-scroll{
width: 450px;
height:15px;
color:black;
margin: 10px 0;

}

.ui-datalist{

}

.ui-left-analyzer-div{
display:inline-block;
height: 98%;
width: 95px;
margin:3px 3px 3px 0px;
padding:5px;

}

.ui-right-analyzer-div{
height: 98%;
width: 390px;
margin:3px;
border: 1px solid gray;
display:inline-block;
}

.ui-analyzer-graphic-div{}

 .notebook {
    white-space: nowrap;
    overflow: hidden;
	margin:10px;
	height: 100%;
}

.notebook > .notebook_radio {
    display: none;
}

.notebook > .notebook_radio + label {
    display: inline-block;
    border: 1px solid gray;
    padding: 4px;
    cursor: pointer;
    position: relative;
	color: gray;
}

.notebook > .notebook_radio + label:not(:last-of-type) {
    border-right: none;
}

.notebook > .notebook_radio + label:hover {
    color: black;
}

.notebook > .notebook_radio + label:last-of-type::after {
    display: block;
    border-bottom: 1px solid gray;
    width: 2000px;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 100%;
}

.notebook > .notebook_radio:checked + label {
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.notebook > .page {
    white-space: normal;
    display: none;
    border: 1px solid gray;
    border-top: none;
    margin: 0px;
    padding: 5px 5px;
	height: 92%;
}

.notebook > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.notebook > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.notebook > input:nth-of-type(3):checked ~ div:nth-of-type(3), 
.notebook > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.notebook > input:nth-of-type(5):checked ~ div:nth-of-type(5){
    display: block;
}

.ui-mem-type-btn-active{
background: darkgray;
}




 
 .ui-settings-table {
 margin:10px;
 }

.js-developer {}
.js-login {}
.js-user{}
.js-button-about{}
.js-inner-header{}
.js-usb-div{}
.js-eth-div{}
.js-connect{}

.js-select-list{}
.js-port-input{}
.js-ip-input{}
.js-password-input{}
.js-login-input{}
.js-osc{}

 .js-settings-div{}
 .js-settings-table{}
 
 .js-settings-radio{}

 
.js-names-change{}
.js-dark-screen{}
.js-graphics{}
.js-device-network-setting{}
.js-pass-change{}
.js-half-part{}

.js-osc-btn{}
.js-set-btn{}
.js-store-btn{}
.js-config-chanel-btn{}
.js-net-setting-btn {}
.js-factory-btn {}
.js-label{}

.js-cancel-btn{}
.js-ok-btn{}
.js-change-chanel-names{}
.js-close-micro{}

.js-params-panel-item-proto{}
.js-params-panel-item{}
.js-params-panel{}
.js-half-part-right{}
.js-half-part-left{}
.js-half-part-item-proto{}
.js-half-part-item{}


.js-login-input-new{}
.js-login-password-new{}

.js-login-input-old{}
.js-login-password-old{}

.js-mac-address-container{}
.js-mac-address-proto{}
.js-mac-address-item{}

.js-change-settings-ip{}
.js-change-settings-gateway{}
.js-change-settings-tcp{}
.js-change-settings-mask{}

.js-oscilloscope{}
 .js-graphic-container {}
 .js-moved-graphic-container{}
 .js-moved-graphic{}
 .js-moved-graphic-gain{}
 .js-moved-graphic-phase{}
 
 .js-level-scroll{}
 .js-time-scroll{}
 
 .js-level-scroll-label{}
 .js-time-scroll-label{}
 
 .js-filter-tab-item{}
 
 
.js-tab-row-proto{}
.js-tab-row-item{}
.js-tab-cell-proto{}
.js-tab-cell-item{}
.js-filter-header{}

.js-filters-select{}
.js-set-filters-data-btn{}
.js-show-filters-btn{}
.js-ram-btn{}
.js-set-eeprom-btn{}

.js-mem-type-btn{}

.js-analyzer-selected-list{}
 