.ui-dark-screen {
position:absolute;
width:100%;
height: 100%;
top:0;
background:gray;
z-index:0;
opacity: 0.3;
}

.ui-upper-window-main-style{
position:absolute;
border: gray solid 1px;
background:lightgray;
z-index: 10;
left: 50%;
top: 50%;
}

.ui-names-change {
width:290px;
height: 200px;
margin: -95px 0 0 -145px;
}

.ui-graphics {
width:780px;
height: 540px;
margin: -270px 0 0 -390px;
}
.ui-device-network-setting {

width:320px;
height: 300px;
margin: -150px 0 0 -160px;

}

.ui-custom-lable{
width: auto;
height: 21px;
max-width: 100px;
margin: 5px 5px 5px 15px;
display:inline;
float: left;
}
 
.ui-pass-change {
width:396px;
height: 190px;
margin: -85px 0 0 -197px;
}



.ui-right-oscilloscope{
width:115px;
height: 110px;
margin: 5px;
border:gray solid 1px;
float:right;
}

.ui-left-oscilloscope{
width:600px;
height: 110px;
margin: 5px;
float:left;
border:gray solid 1px;
}

.ui-close-micro {
float:right;
margin:1px 1px 5px 1px;
width:15px;
height: 15px;
}